<!doctype html>
<html lang='es'>
    <head>
        <%- include('./templates/header')%>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <%- include('./templates/navbar')%>
                </div>
                <div class="card-body">
                    <%if(students.length){%>
                        <table class="table bm-2">
                            <thead>
                                <th>Código</th>
                                <th>Apellidos</th>
                                <th>Nombres</th>
                                <th>Ciudad</th>
                                <th>Teléfono</th>
                                <th>Correo</th>
                                <th>Género</th>
                            </thead>
                            <tbody>
                                <% students.forEach(student => { %>
                                    <tr>
                                        <td><%= student.code %></td>
                                        <td><%= student.lastName %></td>
                                        <td><%= student.name %></td>
                                        <td><%= student.city %></td>
                                        <td><%= student.phone %></td>
                                        <td><%= student.email %></td>
                                        <td><%= student.genAux %></td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    <%}else{%>
                        <h5>No hay Registros</h5>
                    <%}%>
                    <a class="btn btn-primary" href="/insert" role="button">Nuevo Registro</a>
                </div>
            </div>
        </div>
        <%- include('./templates/footer')%>
    </body>
</html>
